body {
  margin: 0;
}
h1 {
  color: rgb(0, 145, 171);
  text-transform: uppercase;
}
.App {
  display: flex;
  justify-content: center;
}
.App > img {
  max-width: 3rem;
  object-fit: contain;
  margin-right: 1rem;
}
